:root {
  --primary-text-color: #2e2f42;
  --primary-title-font-weight: 500;
  --secondary-text-color: #434455;
  --logo-link-font-weight: 800;
  --logo-text-color-web: #4d5ae5;
  --logo-text-color-header: #2e2f42;
  --logo-text-color-footer: #f4f4fd;
  --nav-link-color: #2e2f42;
  --contacts-link-color: #434455;
  --link-color-accent: #404bbf;
  --hero-title-color: #ffffff;
  --hero-backgrnd-color: #2e2f42;
  --hero-btn-text-color: #ffffff;
  --hero-btn-backgrnd-color: #4d5ae5;
  --hero-btn-accent-color: #404bbf;
  --team-backgrnd-color: #f4f4fd;
  --team-item-backgrnd-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --footer-backgrnd-color: #2e2f42;
  --filter-btn-text-color: #4d5ae5;
  --filter-btn-backgrnd-color: #f4f4fd;
  --filter-btn-accent-text-color: #ffffff;
  --filter-btn-accent-backgrnd-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.btn {
  cursor: pointer;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1160px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.container {
  /* max-width: 1158px; */
  width: 100%;
  max-width: 100%;
  /* padding: 0 15px; */
  margin: 0 auto;
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 428px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1160px) {
  .container {
    /* padding: 0 15px; */
    width: 1440px;
  }
}

/*------------ HEADER ------------*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 1160px) {
  .header-container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: var(--logo-link-font-weight);
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-text-color-header);
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-logo-linkweb {
  color: var(--logo-text-color-web);
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 76px;
}

@media screen and (max-width: 767px) {
  .header-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 76px;
  }
}

.header-item {
}

.header-nav-link {
  display: block;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--link-color-accent);
}

.current-page {
  position: relative;
  text-decoration: none;
  color: var(--link-color-accent);
}

.current-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--link-color-accent);
  border-radius: 2px;
}

.contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-list {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.contacts-list .contacts-item + .contacts-item {
}
.contacts-item {
}

.contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--contacts-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts-link.mail {
    padding-bottom: 4px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-link {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--link-color-accent);
}

/*------------ MOBILE-MENU-BURGER ------------*/
.page-header {
}
.header-container {
}
.menu {
}
.js-open-menu {
}
.js-menu-container {
}
.js-close-menu {
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  /* min-height: 40px; */
  /* min-width: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  /* border-radius: 50%; */
  outline: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.mobile-icon-hamburger {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.close {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.close:is(:hover, :focus) {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.mobile-icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle.close:is(:hover, :focus) .mobile-icon-close {
  fill: #ffffff;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 150vh;
  padding: 80px 40px 40px 40px;
  background-color: #fff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu .link {
}

.mobile-nav-container {
  margin-bottom: 170px;
}

.mobile-menu-list {
}

.mobile-item {
  margin-bottom: 40px;
}

.mobile-item:last-child {
  margin-bottom: 0px;
}

.mobile-nav-link {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--nav-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--link-color-accent);
}

.mobile-contacts-container {
  margin-bottom: 48px;
}

.mobile-contacts-item {
}

.mobile-contacts-item:first-child {
  margin-bottom: 40px;
}

.mobile-contacts-link.tel {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link.mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-link:is(:hover, :focus) {
  color: var(--link-color-accent);
}

.mobile-social-container {
  display: inline-block;
  /* max-width: 328px; */
}

.mobile-icon-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  gap: 56px;
}

.mobile-icon-list li {
}

.mobile-icon-list a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-list a:hover,
.mobile-icon-list a:focus {
  background-color: #404bbf;
}

.mobile-icon-list svg {
  fill: #f4f4fd;
}

/*------------ HERO ------------*/
.hero {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-backgrnd-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 479px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-mobile1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-mobile2x.jpg);
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-tablet1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-tablet2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-desctop1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desctop2x.jpg);
    }
  }
}

@media screen and (min-width: 1160px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-basic.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-basic2x.jpg);
    }
  }
}

@media screen and (max-width: 1159px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
  }
}

.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--hero-title-color);
  max-width: 320px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--hero-title-color);
    max-width: 496px;
    text-align: center;
  }
}

.hero-btn {
  display: flex;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--hero-btn-text-color);
  background-color: var(--hero-btn-backgrnd-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  margin-top: 48px;
  border: 0;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .hero-btn {
    margin-top: 72px;
  }
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-accent-color);
}

/*------------ FEATURES ------------*/
.features {
}

.features-container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .features-container {
  }
}

@media screen and (min-width: 1160px) {
  .features-container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .features-list {
    padding-left: 0;
    padding-right: 0;
    gap: 24px;
  }
}

@media screen and (min-width: 1160px) {
  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.features-item {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .features-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

.features-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .features-item:nth-last-child(n + 2) {
    margin-bottom: 48px;
  }
  .features-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1160px) {
  .features-item:nth-last-child(n + 2) {
    margin-bottom: 0;
  }
  .features-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1160px) {
  .features-item::before {
    content: "";
    display: block;
    height: 112px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
  background-size: 64px;
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 64px;
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 64px;
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 64px;
}

.features-item-title {
  font-weight: var(--primary-title-font-weight);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  /* width: 264px; */
}

@media screen and (min-width: 768px) {
  .features-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1160px) {
  .features-item-title {
    text-align: left;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-top: 8px;
  }
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  /* width: 264px; */
}

/*------------ ABOUT ------------*/
.about {
  /* padding-top: 0; */
}

.about-container {
}

@media screen and (max-width: 1159px) {
  .section.about {
    padding-top: 0;
    padding-bottom: 0;
  }
  .about-container {
    display: none;
  }
}

@media screen and (min-width: 1160px) {
  .section.about {
    padding-top: 0;
  }
  .about-container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.about-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.about-list {
  display: flex;
  margin-top: 72px;
  gap: 24px;
}

.about-item {
  /* width: 360px; */
  width: calc((1128 - 2 * 24px) / 3);
}

/*------------ TEAM ------------*/
.team {
  background: var(--team-backgrnd-color);
}

.team-container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .team-container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1160px) {
  .team-container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  background-color: #f4f4fd;
  margin-top: 72px;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .team-list {
    padding-left: 0;
    padding-right: 0;
    gap: 24px;
  }
}

@media screen and (min-width: 1160px) {
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

.team-item {
  background: var(--team-item-backgrnd-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  /* width: 264px; */
  /* width: calc((1128 - 3 * 24px) / 4); */
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .team-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

.team-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .team-item:nth-last-child(n + 2) {
    margin-bottom: 48px;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1160px) {
  .team-item:nth-last-child(n + 2) {
    margin-bottom: 0;
  }
  .team-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.team-item-content {
  padding: 32px 16px;
}

.team-item-title {
  font-weight: var(--primary-title-font-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 8px;
}

.team-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-icon li {
}

.team-icon a {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 12px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon a:hover,
.team-icon a:focus {
  background-color: #404bbf;
}

.team-icon svg {
  fill: #f4f4fd;
}

/*------------ CUSTOMERS ------------*/
.customers {
}

.customers-container {
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .customers-container {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1160px) {
  .customers-container {
    padding-left: 156px;
    padding-right: 156px;
  }
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .customers-list {
    padding-left: 0;
    padding-right: 0;
    gap: 24px;
  }
}

@media screen and (min-width: 1160px) {
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: center; */
  }
}

.customers-item {
  text-align: center;
  /* margin-bottom: 72px; */
}

@media screen and (max-width: 767px) {
  .customers-item {
    width: 190px;
    margin-bottom: 56px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1159px) {
  .customers-item {
    width: calc((100% - 2 * 24px) / 3);
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1160px) {
  .customers-item {
    width: 168px;
  }
}

@media screen and (min-width: 468px) {
  .customers-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .customers-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1160px) {
  .customers-item {
    margin-bottom: 0;
  }
}

.customers-link {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  text-align: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
  border: 1px solid #404bbf;
}

.customers-icon {
  fill: #8e8f99;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) > .customers-icon {
  fill: #404bbf;
}

/*------------ FOOTER ------------*/
.footer {
  background: var(--footer-backgrnd-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  text-align: center;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-left: 108px;
    padding-right: 108px;
    /* width: 552px; */
    text-align: left;
  }
}

@media screen and (min-width: 1160px) {
  .footer-container {
    padding-left: 156px;
    padding-right: 156px;
    /* width: 1158px; */
    display: flex;
    /* flex-wrap: wrap; */
    align-items: baseline;
    justify-content: space-evenly;
  }
}

.footer-logo-social {
  margin-right: 80px;
}

@media screen and (max-width: 767px) {
  .footer-logo-social {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo-social {
    display: flex;
  }
}

.footer-logo {
}

@media screen and (min-width: 768px) {
  .footer-logo {
    margin-right: 24px;
  }
}

@media screen and (min-width: 1160px) {
  .footer-logo {
    margin-right: 120px;
  }
}

.footer-logo-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: var(--logo-link-font-weight);
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--logo-text-color-footer);
}

.footer-logo-linkweb {
  color: var(--logo-text-color-web);
}

.footer-text {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  margin-top: 16px;
  margin-bottom: 72px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 264px;
}

.footer-social {
  margin-bottom: 72px;
}

.social-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;
}

.social-item {
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px;
  outline: 1px #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover,
.social-icon:focus {
  background-color: #31d0aa;
}

.social-icon svg {
  fill: #f4f4fd;
}

/*------------ FOOTER FORM ------------*/
.footer-form-container {
}

@media screen and (min-width: 768px) {
  .footer-form-container {
    /* margin-left: auto; */
  }
}

.footer-subscribe-title {
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .footer-form {
    display: flex;
    gap: 24px;
  }
}

.footer-input-email {
  width: 264px;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .footer-input-email {
    margin-bottom: 16px;
    width: 398px;
  }
}

@media screen and (max-width: 428px) {
  .footer-input-email {
    margin-bottom: 16px;
    width: 100%;
  }
}

.footer-input-email::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input-email:focus {
  border-color: #4d5ae5;
  outline: none;
}

.footer-btn-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  padding: 8px 24px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .footer-btn-email {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-btn-email:is(:hover, :focus) {
  background-color: #404bbf;
}

.footer-icon-subscribe {
  fill: #ffffff;
  margin-left: 16px;
}

/*------------ PORTFOLIO-FILTER ------------*/
.filter {
  padding-top: 96px;
}

.filter-container {
  max-width: 1158px;
  padding: 0 15px;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-item {
  align-items: center;
}

.filter-btn {
  background-color: var(--filter-btn-backgrnd-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--filter-btn-text-color);
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--filter-btn-accent-backgrnd-color);
  color: var(--filter-btn-accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #404bbf;
}

.filter-container-card {
}

.cadr-list {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  /* width: 360px; */
  width: calc((100% - 2 * 24px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}

.card-link {
  display: block;
  color: #2e2f42;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-item:nth-child(3n) {
  margin-right: 0;
}

.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-item-content {
  width: 360px;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-item-title {
  font-weight: var(--primary-title-font-weight);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.card-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-top: 8px;
}

/*--------- FILTER-CARD-OVERLAY ---------*/
.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0.9;
}

.overlay-text {
  position: absolute;
  padding: 40px 32px 0px 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f4fd;
}

.card-link:is(:hover, :focus) .overlay-content {
  transform: translatey(0);
}

/*------- BACKDROP and MODAL window -------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  /* top: 50%; */
  top: 30px;
  left: 50%;
  /* max-width: 408px; */
  width: 408px;
  /* min-height: 576px; */
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 427px) {
  .modal {
    width: 90%;
  }
}

.modal-btn-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:is(:hover, :focus) {
  background-color: #404bbf;
  border: 1px solid #404bbf;
}

.modal-icon-close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close:is(:hover, :focus) .modal-icon-close {
  fill: #ffffff;
}

/*----- MODAL FORM -----*/
.modal-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 14px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.modal-form-label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-form-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-comment:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-policy {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal-label-policy {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #757575;
}

.modal-form-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
}

.modal-icon-policy {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-icon-policy {
  border-color: transparent;
  background-color: #404bbf;
  background-image: url("../images/icon-modal-accept.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
}

.modal-policy-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  margin-left: 4px;
}

.form-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border-color: #4d5ae5;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:is(:hover, :focus) {
  background-color: #404bbf;
}
